 <div class="container">
        <h1>Register the User</h1>
        <form action="/register/insertuser" method="POST">
            <div class="form-control">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" placeholder="Name">
            </div>
            <div class="form-control">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <div class="form-control">
                <label for="phone">Phone:</label>
                <input type="number" name="phone" id="phone" placeholder="Phone">
            </div>
            <div class="form-control">
                <label for="address">Address:</label>
                <input type="text" name="address" id="address" placeholder="Address">
            </div>
            <input type="submit" value="Register" class="btn">
        </form>
    </div>