<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastros</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <div class="logo">User Management</div>
        <nav class="nav">
            <a href="/" class="nav-link">Register</a>
            <a href="/edit" class="nav-link">Edit</a>
            <a href="/register" class="nav-link">View</a>
            <a href="/delete" class="nav-link">Delete</a>
        </nav>
    </header>
    {{{body}}}
</body>
</html>